TF-IDF : rescale the frequency of words by how often they appear in all texts so that the scores for frequent words like 'the', that are also frequent across other text, get penalized.

In [1]:
from datetime import datetime, timedelta

In [2]:
FILE_PATH = '/Users/grace/mimic/csv/'

## sepsis 확진 시점 = sepsis 진단 시점 OR blood culture positive OR 처방

### 1. sepsis 진단

진단 시점이 여러번 일수 있어서 가장 빠른 admission 시점으로 진행하였습니다.

Two relevant timestamps are the admission and discharge times associated with the hospital stay ID ('hadm_id'). If you would like to find more specific time points associated with ICD-related events, one option would be to review the nursing notes.

In [3]:
df_diagnoses = pd.read_csv(FILE_PATH+'DIAGNOSES_ICD.csv', sep=',')
df_diagnoses[df_diagnoses.ICD9_CODE.isin(['77181', '99591', '99592', '67020', '67022', '67024'])].shape

(5409, 5)

In [4]:
df_sepsis_patients = df_diagnoses[df_diagnoses.ICD9_CODE.isin(['77181', '99591', '99592', '67020', '67022', '67024'])]
df_sepsis_patients.head()

     ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
87     1547         117   164853     16.0     99592
144    1604         124   138376      6.0     99592
276     505          64   172056      3.0     99591
450     679          85   112077     18.0     99591
497     726          92   142807      2.0     77181

In [5]:
DATETIME_FORMAT = '%Y-%m-%d %H:%M:%S'

df_admissions = pd.read_csv(FILE_PATH+'admissions.csv', sep=',')
df_admissions.head()
df_admissions.ADMITTIME = df_admissions.ADMITTIME.apply(lambda x: datetime.strptime(x, DATETIME_FORMAT))
df_admissions.dtypes

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,BRAIN MASS,0,1
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,INTERIOR MYOCARDIAL INFARCTION,0,1
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00,2160-11-02 04:27:00,ACUTE CORONARY SYNDROME,0,1

ROW_ID                           int64
SUBJECT_ID                       int64
HADM_ID                          int64
ADMITTIME               datetime64[ns]
DISCHTIME                       object
DEATHTIME                       object
ADMISSION_TYPE                  object
ADMISSION_LOCATION              object
DISCHARGE_LOCATION              object
INSURANCE                       object
LANGUAGE                        object
RELIGION                        object
MARITAL_STATUS                  object
ETHNICITY                       object
EDREGTIME                       object
EDOUTTIME                       object
DIAGNOSIS                       object
HOSPITAL_EXPIRE_FLAG             int64
HAS_CHARTEVENTS_DATA             int64
dtype: object

In [6]:
df_sepsis_adm = pd.merge(df_sepsis_patients, df_admissions, on=['SUBJECT_ID', 'HADM_ID'])
df_sepsis_adm = df_sepsis_adm[['SUBJECT_ID', 'HADM_ID', 'SEQ_NUM', 'ICD9_CODE',
                        'ADMITTIME', 'DISCHTIME', 'DEATHTIME',
                        'ADMISSION_TYPE', 'ADMISSION_LOCATION', 'DISCHARGE_LOCATION',
                        'EDREGTIME', 'EDOUTTIME', 'DIAGNOSIS', 
                        'HOSPITAL_EXPIRE_FLAG', 'HAS_CHARTEVENTS_DATA']]

df_sepsis_adm.head()

,SUBJECT_ID,HADM_ID,SEQ_NUM,ICD9_CODE,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,117,164853,16.0,99592,2133-11-13 21:34:00,2133-12-01 17:00:00,2133-12-01 17:00:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,NaN,NaN,ENCEPHALOPATHY;LIVER FAILURE,1,1
1,124,138376,6.0,99592,2165-12-31 18:55:00,2166-02-01 06:55:00,2166-02-01 06:55:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,NaN,NaN,PNEUMONIA;CHRONIC OBST PULM DISEASE,1,1
2,64,172056,3.0,99591,2143-03-03 09:25:00,2143-03-18 13:01:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,2143-03-03 03:46:00,2143-03-03 11:00:00,FUNGAL MENINGITIS,0,1
3,85,112077,18.0,99591,2167-07-25 18:49:00,2167-07-30 15:24:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,SNF,2167-07-25 16:37:00,2167-07-25 20:46:00,PNEUMONIA,0,1
4,92,142807,2.0,77181,2122-12-13 19:30:00,2123-03-04 13:47:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,SHORT TERM HOSPITAL,NaN,NaN,NEWBORN,0,1

In [7]:
sepsis_standard = []
for i, grp in df_sepsis_adm.groupby('SUBJECT_ID'):

    first_diag = grp.sort_values(by='ADMITTIME').head(1)
    sepsis_standard.append({
        'SUBJECT_ID':i,
        'HADM_ID':first_diag['HADM_ID'].values[0],
        'SEQ_NUM':first_diag['SEQ_NUM'].values[0],
        'ICD9_CODE':first_diag['ICD9_CODE'].values[0],
        'STARTDATE':first_diag['ADMITTIME'].values[0],
        'ENDDATE':first_diag['DISCHTIME'].values[0],
        'ADMISSION_TYPE':first_diag['ADMISSION_TYPE'].values[0],
        'DIAGNOSIS':first_diag['DIAGNOSIS'].values[0]
    })

len(sepsis_standard)

4781

### 2. 처방 시점

In [9]:
# SEPSIS_DRUGS = [
#     'amikacin', 'amoxicillin', 'ampicillin', 'azithromycin', 'aztreonam', 'vancomycin', 
#     'cefaclor', 'cefadroxil', 'cephalexin', 'cefamandole', 'cefepime', 'cefixime', 
#     'cefot axime', 'cefoxitin', 'cefpodoxime', 'cefprozil', 'ceftazidime', 'ceftriaxone', 
#     'cefur oxime', 'chloramphenicol', 'ciprofloxacin', 'clarithromycin', 'clindamycin', 
#     'coli stin', 'dapsone', 'daptomycin', 'dicloxacillin', 'doripenem', 'doxycycline', 
#     'ertapen em', 'erythromycin', 'ethambutol', 'flucloxacillin', 'fosfomycin', 'gatifloxacin', 
#     'g eldanamycin', 'gentamicin', 'imipenem', 'isoniazid', 'kanamycin', 'levofloxacin', 
#     'li nezolid', 'meropenem', 'methicillin', 'metronidazole', 'minocycline', 'moxifloxaci n', 
#     'trovafloxacin', 'nafcillin', 'nalidixic acid', 'tobramycin', 'netilmicin', 'nitrofurantoin', 
#     'norfloxacin', 'ofloxacin', 'par omomycin', 'penicillin', 'piperacillin', 'polymyxin', 
#     'pyrazinamide', 'quinupristi n', 'rifabutin', 'rifampicin', 'rifampin', 'spectinomycin', 
#     'streptomycin', 'sulfadia zine', 'sulfamethoxazole', 'telithromycin', 'tetracycline', 
#     'ticarcillin', 'tigecy cline', 'trimethoprim'
# ]
SEPSIS_DRUGS = [
    'vancomycin', 'amikacin', 'gentamycin', 'tobramycin'
]
ROUTES = ['OU','OS','OD','AU','AS','AD', 'TP']

In [10]:
df_prescriptions = pd.read_csv(FILE_PATH+'PRESCRIPTIONS.csv', sep=',')
df_prescriptions.dropna(subset=['STARTDATE'], inplace=True)
df_prescriptions.reset_index(drop=True)
# df_prescriptions.head()

/Users/grace/workspace/keras/venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning:

Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTDATE,ENDDATE,DRUG_TYPE,DRUG,DRUG_NAME_POE,DRUG_NAME_GENERIC,FORMULARY_DRUG_CD,GSN,NDC,PROD_STRENGTH,DOSE_VAL_RX,DOSE_UNIT_RX,FORM_VAL_DISP,FORM_UNIT_DISP,ROUTE
0,2214776,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Tacrolimus,Tacrolimus,Tacrolimus,TACR1,021796,4.690617e+08,1mg Capsule,2,mg,2,CAP,PO
1,2214775,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Warfarin,Warfarin,Warfarin,WARF5,006562,5.601728e+07,5mg Tablet,5,mg,1,TAB,PO
2,2215524,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Heparin Sodium,NaN,NaN,HEPAPREMIX,006522,3.380550e+08,"25,000 unit Premix Bag","25,000",UNIT,1,BAG,IV
3,2216265,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,BASE,D5W,NaN,NaN,HEPBASE,NaN,0.000000e+00,HEPARIN BASE,250,ml,250,ml,IV
4,2214773,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Furosemide,Furosemide,Furosemide,FURO20,008208,5.482972e+07,20mg Tablet,20,mg,1,TAB,PO
5,2214774,6,107064,NaN,2175-06-11 00:00:00,2175-06-15 00:00:00,MAIN,Warfarin,Warfarin,Warfarin,WARF0,014198,5.601698e+07,Check with MD for Dose,1,dose,1,dose,PO
6,2215525,6,107064,NaN,2175-06-12 00:00:00,2175-06-12 00:00:00,MAIN,Heparin Sodium,NaN,NaN,HEPAPREMIX,006522,3.380550e+08,"25,000 unit Premix Bag","25,000",UNIT,1,BAG,IV
7,2216266,6,107064,NaN,2175-06-12 00:00:00,2175-06-12 00:00:00,BASE,D5W,NaN,NaN,HEPBASE,NaN,0.000000e+00,HEPARIN BASE,250,ml,250,ml,IV
8,2215526,6,107064,NaN,2175-06-12 00:00:00,2175-06-13 00:00:00,MAIN,Heparin Sodium,NaN,NaN,HEPAPREMIX,006522,3.380550e+08,"25,000 unit Premix Bag","25,000",UNIT,1,BAG,IV
9,2214778,6,107064,NaN,2175-06-12 00:00:00,2175-06-13 00:00:00,MAIN,Warfarin,Warfarin,Warfarin,WARF2,006561,5.601708e+07,2mg Tab,2,mg,1,TAB,PO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4153258,3996069,98887,121032,238144.0,2144-09-06 00:00:00,2144-09-06 00:00:00,MAIN,Albuterol 0.083% Neb Soln,Albuterol 0.083% Neb Soln,Albuterol 0.083% Neb Soln,ALBU3H,005039,4.950207e+10,0.083%;3mL Vial,1,NEB,1,VIAL,IH
4153259,3996697,98887,121032,238144.0,2144-09-06 00:00:00,2144-09-06 00:00:00,BASE,5% Dextrose,NaN,NaN,CIPROBASE,NaN,0.000000e+00,1 Bag,200,mL,200,mL,IV
4153260,3996659,98887,121032,238144.0,2144-09-06 00:00:00,2144-09-06 00:00:00,MAIN,HYDROmorphone (Dilaudid),HYDROmorphone (Dilaudid),HYDROmorphone,HYDR20/100NS,048078,6.155302e+10,20 mg / 100 mL Premix Bag,20,mg,1,BAG,IVPCA
4153261,3996658,98887,121032,238144.0,2144-09-06 00:00:00,2144-09-06 00:00:00,MAIN,HYDROmorphone (Dilaudid),HYDROmorphone (Dilaudid),HYDROmorphone,HYDR20/100NS,048078,6.155302e+10,20 mg / 100 mL Premix Bag,20,mg,1,BAG,IVPCA
4153262,3996067,98887,121032,238144.0,2144-09-06 00:00:00,2144-09-06 00:00:00,MAIN,Lorazepam,Lorazepam,Lorazepam,LORA1,003758,5.107904e+10,1mg Tablet,1,mg,1,TAB,PO/NG
4153263,3996662,98887,121032,238144.0,2144-09-06 00:00:00,2144-09-06 00:00:00,MAIN,PredniSONE,PredniSONE,PredniSONE,PRED20,006751,5.400182e+07,20 mg Tablet,40,mg,2,TAB,PO/NG
4153264,3996070,98887,121032,238144.0,2144-09-06 00:00:00,2144-09-06 00:00:00,MAIN,Ipratropium Bromide Neb,Ipratropium Bromide Neb,Ipratropium Bromide Neb,IPRA2H,021700,4.879801e+08,2.5mL Vial,1,NEB,1,VIAL,IH
4153265,3996063,98887,121032,238144.0,2144-09-06 00:00:00,2144-09-06 00:00:00,MAIN,HYDROmorphone (Dilaudid),HYDROmorphone (Dilaudid),HYDROmorphone,HYDR20/100NS,048078,6.155302e+10,20 mg / 100 mL Premix Bag,0.12,mg,0.01,BAG,IVPCA
4153266,3996062,98887,121032,238144.0,2144-09-06 00:00:00,2144-09-06 00:00:00,MAIN,Docusate Sodium,Docusate Sodium,Docusate Sodium,DOCU100,003009,9.042245e+08,100mg Capsule,100,mg,1,CAP,PO
4153267,3996061,98887,121032,238144.0,2144-09-06 00:00:00,2144-09-06 00:00:00,MAIN,Senna,Senna,Senna,SENN187,019964,9.045166e+08,1 Tablet,1,TAB,1,TAB,PO/NG

In [11]:
df_prescriptions.STARTDATE = df_prescriptions.STARTDATE.apply(lambda x: datetime.strptime(x, DATETIME_FORMAT))
len(df_prescriptions.query('DRUG.str.lower() in (@SEPSIS_DRUGS)')['SUBJECT_ID'].unique())

10910

In [12]:
for i, grp in df_prescriptions.query('DRUG.str.lower() in (@SEPSIS_DRUGS)').groupby('SUBJECT_ID'):
    first_diag = grp.sort_values(by='STARTDATE').head(1)
    sepsis_standard.append({
        'SUBJECT_ID':i,
        'HADM_ID':first_diag['HADM_ID'].values[0],
        'ROUTE':first_diag['ROUTE'].values[0],
        'DRUG':first_diag['DRUG'].values[0],
        'STARTDATE':first_diag['STARTDATE'].values[0],
        'ENDDATE':first_diag['ENDDATE'].values[0]
    })

### 3. Blood culture order가 있다면 sepsis의심 환자로 구분

In [13]:
# df_microbiology = pd.read_csv(FILE_PATH+'MICROBIOLOGYEVENTS.csv', sep=',')
# df_microbiology.head()
# df_microbiology.CHARTDATE = df_microbiology.CHARTDATE.apply(lambda x: datetime.strptime(x, DATETIME_FORMAT))

In [14]:
# BLOOD_CULTURE_STR = 'BLOOD CULTURE'

# for i, grp in df_microbiology.query('SPEC_TYPE_DESC==@BLOOD_CULTURE_STR').groupby('SUBJECT_ID'):
#     first_diag = grp.sort_values(by='CHARTTIME').head(1)
#     sepsis_standard.append({
#         'SUBJECT_ID':i,
#         'HADM_ID':first_diag['HADM_ID'].values[0],
#         'SPEC_TYPE_DESC':first_diag['SPEC_TYPE_DESC'].values[0],
#         'ORG_NAME':first_diag['ORG_NAME'].values[0],
#         'STARTDATE':first_diag['CHARTTIME'].values[0]
#     })

## 가장 빠른 sepsis 기준 시간 찾기

In [15]:
df_sepsis_standard = pd.DataFrame(sepsis_standard)
df_sepsis_standard.head()

,ADMISSION_TYPE,DIAGNOSIS,DRUG,ENDDATE,HADM_ID,ICD9_CODE,ROUTE,SEQ_NUM,STARTDATE,SUBJECT_ID
0,EMERGENCY,SEPSIS,NaN,2135-02-08 02:08:00,111970,99592,NaN,11.0,2135-01-30 20:50:00,21
1,EMERGENCY,ACUTE MYOCARDIAL INFARCTION-SEPSIS,NaN,2166-09-04 11:30:00,185910,99592,NaN,3.0,2166-08-10 00:28:00,38
2,EMERGENCY,NON-HODGKINS LYMPHOMA;FEBRILE;NEUTROPENIA,NaN,2119-02-03 01:35:00,189535,99591,NaN,8.0,2119-01-04 18:12:00,61
3,EMERGENCY,"SEPSIS,URINARY TRACT INFECTION",NaN,2113-02-19 15:30:00,116009,99591,NaN,4.0,2113-02-15 00:19:00,62
4,EMERGENCY,FUNGAL MENINGITIS,NaN,2143-03-18 13:01:00,172056,99591,NaN,3.0,2143-03-03 09:25:00,64

In [16]:
df_sepsis_standard.dtypes

ADMISSION_TYPE            object
DIAGNOSIS                 object
DRUG                      object
ENDDATE                   object
HADM_ID                    int64
ICD9_CODE                 object
ROUTE                     object
SEQ_NUM                  float64
STARTDATE         datetime64[ns]
SUBJECT_ID                 int64
dtype: object

In [17]:
sepsis_earliest = []
for i, grp in df_sepsis_standard.groupby('SUBJECT_ID'):
    first_diag = grp.sort_values(by='STARTDATE').head(1)
    if first_diag['DRUG'].values[0] is not None:
        st_type = 'DRUG'
        st_detail = first_diag['DRUG'].values[0]
    elif first_diag['SPEC_TYPE_DESC'].values[0] is not None:
        st_type = 'BLOOD CULTURE'
        st_detail = first_diag['SPEC_TYPE_DESC'].values[0]
    else:
        st_type = 'DIAGNOSIS'
        st_detail = first_diag['DIAGNOSIS'].values[0]
        
    sepsis_earliest.append({
        'SUBJECT_ID':i,
        'HADM_ID':first_diag['HADM_ID'].values[0],
        'TYPE': st_type,
        'DETAIL': st_detail,
        'STARTDATE':first_diag['STARTDATE'].values[0],
        'ENDDATE':first_diag['ENDDATE'].values[0]
    })

In [18]:
df_sepsis_ear = pd.DataFrame(sepsis_earliest)
df_sepsis_ear.shape

(12793, 6)

In [19]:
len(df_sepsis_ear.SUBJECT_ID.unique())

12793

## 기준시간 48앞 부터 진단명 organize

In [20]:
df_dig_adm = pd.merge(df_diagnoses, df_admissions, on=['SUBJECT_ID', 'HADM_ID'])
df_dig_adm = df_dig_adm[['SUBJECT_ID', 'HADM_ID', 'SEQ_NUM', 'ICD9_CODE',
                        'ADMITTIME', 'DISCHTIME', 'DEATHTIME',
                        'ADMISSION_TYPE', 'ADMISSION_LOCATION', 'DISCHARGE_LOCATION',
                        'EDREGTIME', 'EDOUTTIME', 'DIAGNOSIS', 
                        'HOSPITAL_EXPIRE_FLAG', 'HAS_CHARTEVENTS_DATA']]
df_dig_adm.dtypes

SUBJECT_ID                       int64
HADM_ID                          int64
SEQ_NUM                        float64
ICD9_CODE                       object
ADMITTIME               datetime64[ns]
DISCHTIME                       object
DEATHTIME                       object
ADMISSION_TYPE                  object
ADMISSION_LOCATION              object
DISCHARGE_LOCATION              object
EDREGTIME                       object
EDOUTTIME                       object
DIAGNOSIS                       object
HOSPITAL_EXPIRE_FLAG             int64
HAS_CHARTEVENTS_DATA             int64
dtype: object

In [21]:
DURATION_DAY_UNIT = 2
DURATION_DAYS = 14
# 여러 입원이 중첩으로 날짜 기간이 매우 길어질수 있어서 일단 2주 [2틀- 진단 - 2틀 간격 12일] 의 기간으로 한정해서 진행했습니다.
#     df_dig_adm[df_dig_adm.SUBJECT_ID==i].sort_values(by='ADMITTIME').tail(1)

def generate_duration(start_time, total_duration, duration_unit):
    time_lines = {}
    time_lines[1] = start_time
    time_lines[0] = start_time - timedelta(days=duration_unit)
    for j in range(1, int(total_duration / duration_unit)+2):
        time_lines[j] = time_lines[j-1] + timedelta(days=duration_unit)
#     print(time_lines)
    return time_lines
    
def extract_information_by_time_standards(df, target_col, time_col, time_lines, row):
    info_by_time = {}
    info_by_time['SUBJECT_ID'] = row['SUBJECT_ID']
    for k in sorted(time_lines.keys())[:len(time_lines.keys())-1]:
#         print(k)
        grp = df[(df['SUBJECT_ID']==row['SUBJECT_ID']) & (df[time_col] >= time_lines[k]) & (df[time_col] < time_lines[k+1])]
        info_by_time[k] = grp[target_col].unique()
    return info_by_time

### 1. Diagnosis 진단은... 입원 시점과 날짜를 맞출수 밖에 없기 때문에 시간에 따른 분석이 어려움..

In [22]:
# for i, row in df_sepsis_ear[:10].iterrows():
#     times = generate_duration(row['STARTDATE'], DURATION_DAYS, DURATION_DAY_UNIT)
#     extract_information_by_time_standards(df_dig_adm, 'ICD9_CODE', 'ADMITTIME', times, row)

### 2. lab

In [23]:
df_labs = pd.read_csv(FILE_PATH+'LABEVENTS.csv', sep=',')
df_labs.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN
1,282,3,NaN,50800,2101-10-12 18:17:00,ART,NaN,NaN,NaN
2,283,3,NaN,50802,2101-10-12 18:17:00,-1,-1.00,mEq/L,NaN
3,284,3,NaN,50804,2101-10-12 18:17:00,22,22.00,mEq/L,NaN
4,285,3,NaN,50808,2101-10-12 18:17:00,0.93,0.93,mmol/L,abnormal

In [24]:
len(df_sepsis_ear.SUBJECT_ID.unique())

12793

In [25]:
df_labs = df_labs[df_labs.SUBJECT_ID.isin(df_sepsis_ear.SUBJECT_ID.unique())]
df_labs.shape

(13522687, 9)

In [26]:
df_labs.CHARTTIME = df_labs.CHARTTIME.apply(lambda x: datetime.strptime(x, DATETIME_FORMAT))

In [ ]:
sepsis_ear_lab = []
for i, row in df_sepsis_ear.iterrows():
    if i%100==0:
        print(i)
    times = generate_duration(row['STARTDATE'], DURATION_DAYS, DURATION_DAY_UNIT)
    sepsis_ear_lab.append(extract_information_by_time_standards(df_labs, 'ITEMID', 'CHARTTIME', times, row))

In [31]:
df_sepsis_ear_lab = pd.DataFrame(sepsis_ear_lab)
df_sepsis_ear_lab.head()

,0,1,2,3,4,5,6,7
0,"[50868, 50882, 50893, 50902, 50912, 50931, 509...","[51464, 51466, 51478, 51484, 51486, 51487, 514...",[],"[50868, 50882, 50893, 50902, 50912, 50931, 509...","[50868, 50882, 50893, 50902, 50912, 50931, 509...","[50868, 50882, 50893, 50902, 50912, 50920, 509...","[50868, 50882, 50893, 50902, 50912, 50931, 509...",[]
1,"[50868, 50882, 50902, 50909, 50912, 50931, 509...","[50861, 50862, 50863, 50867, 50868, 50878, 508...","[51279, 51301, 50800, 50813, 50817, 50825, 508...","[50861, 50862, 50863, 50868, 50878, 50882, 508...","[51221, 50912, 50960, 50971, 51006, 51214, 512...",[],[],[]
2,"[50861, 50862, 50863, 50868, 50878, 50882, 508...","[50868, 50882, 50893, 50902, 50912, 50931, 509...","[50868, 50882, 50893, 50902, 50912, 50931, 509...","[50868, 50882, 50893, 50902, 50912, 50931, 509...",[],[],[],[]
3,"[50868, 50882, 50893, 50902, 50912, 50931, 509...","[50800, 50802, 50804, 50808, 50809, 50810, 508...","[50868, 50882, 50902, 50912, 50931, 50971, 509...","[50912, 50931, 50971, 51006, 51221, 51222, 512...",[],"[50868, 50882, 50902, 50910, 50911, 50912, 509...","[50868, 50882, 50893, 50902, 50912, 50931, 509...","[50868, 50882, 50902, 50912, 50931, 50960, 509..."
4,"[50861, 50862, 50863, 50868, 50878, 50882, 508...","[50868, 50882, 50893, 50902, 50912, 50931, 509...","[50817, 50868, 50882, 50893, 50902, 50910, 508...","[50868, 50882, 50893, 50902, 50912, 50931, 509...","[50861, 50863, 50868, 50878, 50882, 50885, 508...","[50868, 50882, 50893, 50902, 50912, 50931, 509...","[50868, 50882, 50893, 50902, 50912, 50931, 509...","[51246, 51248, 51249, 51250, 51251, 51252, 512..."

In [42]:
# df_sepsis_ear_lab['SUBJECT_ID'] = df_sepsis_ear.SUBJECT_ID.unique()
# df_sepsis_ear_lab.head()

In [39]:
def jaccard_index(first_set, second_set):
    """ Computes jaccard index of two sets
        Arguments:
          first_set(set):
          second_set(set):
        Returns:
          index(float): Jaccard index between two sets; it is 
            between 0.0 and 1.0
    """
    # If both sets are empty, jaccard index is defined to be 1
    index = 1.0
    if first_set or second_set:
        index = (float(len(first_set.intersection(second_set))) 
             / len(first_set.union(second_set)))

    return index

In [45]:
df_sepsis_ear_lab.to_csv('./sepsis_ear_labs.csv', sep=',', index=False)

In [66]:
# test = pd.read_csv('./sepsis_ear_labs.csv', sep=',')
# test.head()
seed_patient = df_sepsis_ear_lab[df_sepsis_ear_lab.SUBJECT_ID==25030]
seed_patient

,0,1,2,3,4,5,6,7,SUBJECT_ID
2798,[51301 50813 50861 50867 50868 50878 50882 508...,[50868 50882 50893 50902 50909 50931 50954 509...,[50868 50882 50893 50902 50912 50931 50960 509...,[50868 50882 50893 50902 50912 50931 50960 509...,[],[],[],[],25030

In [46]:
df_sepsis_ear_lab = df_sepsis_ear_lab[df_sepsis_ear_lab.SUBJECT_ID!=25030]

In [54]:
df_sepsis_ear_lab.reset_index(inplace=True)

In [183]:
# seed_patient = {}
# seed_patient['0'] = [51301, 50813, 50861, 50867, 50868, 50878, 50882, 50885, 50893, 50902, 50910, 50911, 50912, 50931, 50956, 50960, 50971, 50983, 51003, 51006, 51137, 51143, 51144, 51146, 51200, 51221, 51222, 51233, 51237, 51244, \
#                      51246, 51248, 51249, 51250, 51251, 51252, 51254, 51255, 51256, \
#                      51265, 51267, 51268, 51274, 51275, 51277, 51279, 51294]
# seed_patient['1'] = [50868, 50882, 50893, 50902, 50909, 50931, 50954, 50960, 50970, 50971, 50983, 51221, 50800, 50802, 50804, 50812, 50813, 50817, 50818, 50820, 50821, 50825, 51222, 51248, 51249, 51250, 51265, 51277, 51279, 51301, 51237, 51274, 51275, 50910, 50911, 50912, 51003, 51006, 51009]
# seed_patient['2'] = [50868, 50882, 50893, 50902, 50912, 50931, 50960, 50970, 50971, 50983, 51006, 51146, 51200, 51221, 51222, 51233, 51237, 51244, 51246, 51248, 51249, 51250, 51254, 51256, 51265, 51267, 51274, 51275, 51277, 51279, 51301, 50852]
# seed_patient['3'] = [50868, 50882, 50893, 50902, 50912, 50931, 50960, 50970, 50971, 50983, 51006, 51221, 51222, 51237, 51248, 51249, 51250, 51265, 51274, 51275, 51277, 51279, 51301]

In [185]:
for col in range(4):
    print(col)
    df_sepsis_ear_lab[str(col)+'_jaccard'] = df_sepsis_ear_lab[col].apply(lambda x: jaccard_index(set(seed_patient[str(col)]), set(x)))
df_sepsis_ear_lab.head()

0
1
2
3

,0,1,2,3,4,5,6,7,SUBJECT_ID,0_jaccard,1_jaccard,2_jaccard,3_jaccard,4_jaccard
0,"[50868, 50882, 50893, 50902, 50912, 50931, 509...","[51464, 51466, 51478, 51484, 51486, 51487, 514...",[],"[50868, 50882, 50893, 50902, 50912, 50931, 509...","[50868, 50882, 50893, 50902, 50912, 50931, 509...","[50868, 50882, 50893, 50902, 50912, 50920, 509...","[50868, 50882, 50893, 50902, 50912, 50931, 509...",[],11,0.458333,0.433962,0.000000,0.869565,0.0
1,"[50868, 50882, 50902, 50909, 50912, 50931, 509...","[50861, 50862, 50863, 50867, 50868, 50878, 508...","[51279, 51301, 50800, 50813, 50817, 50825, 508...","[50861, 50862, 50863, 50868, 50878, 50882, 508...","[51221, 50912, 50960, 50971, 51006, 51214, 512...",[],[],[],21,0.734694,0.514706,0.545455,0.589744,0.0
2,"[50861, 50862, 50863, 50868, 50878, 50882, 508...","[50868, 50882, 50893, 50902, 50912, 50931, 509...","[50868, 50882, 50893, 50902, 50912, 50931, 509...","[50868, 50882, 50893, 50902, 50912, 50931, 509...",[],[],[],[],23,0.576923,0.617021,0.696970,1.000000,0.0
3,"[50868, 50882, 50893, 50902, 50912, 50931, 509...","[50800, 50802, 50804, 50808, 50809, 50810, 508...","[50868, 50882, 50902, 50912, 50931, 50971, 509...","[50912, 50931, 50971, 51006, 51221, 51222, 512...",[],"[50868, 50882, 50902, 50910, 50911, 50912, 509...","[50868, 50882, 50893, 50902, 50912, 50931, 509...","[50868, 50882, 50902, 50912, 50931, 50960, 509...",36,0.400000,0.638298,0.606061,0.565217,0.0
4,"[50861, 50862, 50863, 50868, 50878, 50882, 508...","[50868, 50882, 50893, 50902, 50912, 50931, 509...","[50817, 50868, 50882, 50893, 50902, 50910, 508...","[50868, 50882, 50893, 50902, 50912, 50931, 509...","[50861, 50863, 50868, 50878, 50882, 50885, 508...","[50868, 50882, 50893, 50902, 50912, 50931, 509...","[50868, 50882, 50893, 50902, 50912, 50931, 509...","[51246, 51248, 51249, 51250, 51251, 51252, 512...",38,0.518519,0.521127,0.365079,0.400000,0.0

In [186]:
df_sepsis_ear_lab.sort_values(by='0_jaccard').head()

,0,1,2,3,4,5,6,7,SUBJECT_ID,0_jaccard,1_jaccard,2_jaccard,3_jaccard,4_jaccard
12791,[],"[51237, 51274, 51275, 50802, 50804, 50805, 508...","[50868, 50882, 50893, 50902, 50912, 50931, 509...",[],[],[],[],[],99995,0.0,0.550000,0.575000,0.000000,0.0
4885,[],"[50818, 50820, 50821, 50825, 50868, 50882, 508...","[50868, 50882, 50893, 50902, 50912, 50931, 509...","[50868, 50882, 50902, 50912, 50931, 50971, 509...",[],[],[],[],31717,0.0,0.351064,0.625000,0.739130,0.0
4883,[],"[50861, 50863, 50867, 50868, 50878, 50882, 508...","[51275, 50868, 50882, 50893, 50902, 50912, 509...","[51275, 50868, 50882, 50893, 50902, 50912, 509...","[50868, 50882, 50893, 50902, 50912, 50931, 509...","[51237, 51244, 51248, 51249, 51250, 51254, 512...","[50868, 50882, 50893, 50902, 50908, 50910, 509...","[50970, 50971, 50983, 51006, 51009, 51221, 512...",31712,0.0,0.521739,0.636364,0.560976,0.0
10330,[],"[50861, 50863, 50868, 50878, 50882, 50885, 509...","[50861, 50863, 50868, 50878, 50882, 50885, 508...","[50868, 50882, 50893, 50902, 50912, 50931, 509...","[50861, 50862, 50863, 50868, 50878, 50882, 508...","[50868, 50882, 50893, 50902, 50912, 50931, 509...",[],[],79709,0.0,0.515152,0.444444,0.676471,0.0
4880,[],"[50813, 50868, 50882, 50887, 50902, 50912, 509...","[50818, 50819, 50820, 50821, 50825, 50826, 508...","[50861, 50862, 50863, 50867, 50868, 50878, 508...","[50868, 50882, 50893, 50902, 50912, 50931, 509...",[],[],[],31697,0.0,0.417582,0.451613,0.303030,0.0