In [18]:
! pip install --upgrade tables keras tensorflow

Collecting tables
  Downloading https://files.pythonhosted.org/packages/87/f7/bb0ec32a3f3dd74143a3108fbf737e6dcfd47f0ffd61b52af7106ab7a38a/tables-3.5.2-cp36-cp36m-manylinux1_x86_64.whl (4.3MB)
    100% |████████████████████████████████| 4.3MB 7.2MB/s eta 0:00:01
Collecting numexpr>=2.6.2 (from tables)
  Downloading https://files.pythonhosted.org/packages/06/5e/ee657b36ce1b6baabaafe485e97a31e7200f918c4b8643ebc4fd4fd07ada/numexpr-2.7.0-cp36-cp36m-manylinux1_x86_64.whl (162kB)
    100% |████████████████████████████████| 163kB 52.8MB/s ta 0:00:01
Requirement already satisfied, skipping upgrade: numpy>=1.9.3 in /home/hcinyoung/dev/mdml/venv/lib/python3.6/site-packages (from tables) (1.16.0)
Collecting mock>=2.0 (from tables)
  Downloading https://files.pythonhosted.org/packages/05/d2/f94e68be6b17f46d2c353564da56e6fb89ef09faeeff3313a046cb810ca9/mock-3.0.5-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: six>=1.9.0 in /home/hcinyoung/dev/mdml/venv/lib/python3.6/site-packages (from tables) (1.12.0)
Installing collected packages: numexpr, mock, tables
Successfully installed mock-3.0.5 numexpr-2.7.0 tables-3.5.2
You are using pip version 19.0.1, however version 19.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
%matplotlib inline

import matplotlib.pyplot as plt
from functools import reduce
import seaborn as sns; sns.set(rc={'figure.figsize':(15,15)})
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from sklearn.preprocessing import MinMaxScaler
engine = create_engine('postgresql://postgres:mimic@192.168.1.72:5555/mimic')

In [25]:
def get_mortality_label():
    label = pd.read_sql("""
    select icustay_id, hadm_id, date_trunc('day', outtime) as ts, hospital_expire_flag, thirtyday_expire_flag
    from sepsis3
    where excluded=0
    """, engine)
    label.set_index(['icustay_id', 'hadm_id', 'ts'], inplace=True)
    return label

def get_demo():
    demo = pd.read_sql("""
    select icustay_id, hadm_id, date_trunc('day', intime) as ts
        , age, is_male, race_white, race_black, race_hispanic, race_other
    from sepsis3
    where excluded=0
    """, engine)
    demo.set_index(['icustay_id', 'hadm_id', 'ts'], inplace=True)
    return demo

def get_admit():
    admit = pd.read_sql("""
    select icustay_id, hadm_id, date_trunc('day', intime) as ts, icu_los, hosp_los
    from sepsis3
    where excluded=0
    """, engine)
    admit.set_index(['icustay_id', 'hadm_id', 'ts'], inplace=True)
    return admit

def get_comorbidity():
    com = pd.read_sql('''
    select s.icustay_id, date_trunc('day', admittime) as ts, c.*
    from comorbidity c 
        inner join (select icustay_id, hadm_id from sepsis3 where excluded=0) s 
            on c.hadm_id=s.hadm_id
    ''', engine)
    del com['subject_id']
    del com['admittime']
    com.set_index(['icustay_id', 'hadm_id', 'ts'], inplace=True)
    
    return com

def get_gcs():
    gcs = pd.read_sql('''
    select v.* 
    from gcsdaily v
        inner join (select hadm_id from sepsis3 where excluded=0) s 
            on v.hadm_id=s.hadm_id
    where charttime_by_day is not null
    ''', engine)

    del gcs['subject_id']
    gcs.rename(columns = {'charttime_by_day': 'ts'}, inplace=True)
    gcs.set_index(['icustay_id', 'hadm_id', 'ts'], inplace=True)
    return gcs

def get_vitalsign():
    vital = pd.read_sql('''
    select v.* 
    from vitalsdaily v
        inner join (select hadm_id from sepsis3 where excluded=0) s 
            on v.hadm_id=s.hadm_id
    ''', engine)

    del vital['subject_id']
    vital.rename(columns = {'charttime_by_day': 'ts'}, inplace=True)
    vital.set_index(['icustay_id', 'hadm_id', 'ts'], inplace=True)
    return vital

def get_drug():
    drug = pd.read_sql("""
    select p.icustay_id, p.hadm_id
        , startdate as ts
        , 'prescription' as category
        , drug
        , sum((EXTRACT(EPOCH FROM enddate - startdate))/ 60 / 60 / 24) as duration
    from prescriptions p
        inner join (select hadm_id, icustay_id from sepsis3 where excluded=0) s 
            on p.hadm_id=s.hadm_id and p.icustay_id=s.icustay_id
    group by p.icustay_id, p.hadm_id, ts, drug
    """, engine)
    drug.duration = drug.duration.replace(0, 1) # avoid null of instant prescription
    pivot_drug = pd.pivot_table(drug, 
                                index=['icustay_id', 'hadm_id', 'ts'], 
                                columns=['drug'], 
                                values='duration', 
                                fill_value=0)
    return pivot_drug

def get_lab():
    lab = pd.read_sql("""
    select s.icustay_id, c.hadm_id, date_trunc('day', c.charttime) as ts
        , d.label
        , valuenum
    from labevents c
        inner join (select hadm_id, icustay_id from sepsis3 where excluded=0) s 
            on c.hadm_id=s.hadm_id
        join d_labitems d using (itemid)
    where itemid in (
        50912  -- 크레아티닌(creatinine)
        ,50905, 50906  -- LDL-콜레스테롤(LDL-cholesterol)
        ,50852  -- 당화혈색소(HbA1c/Hemoglobin A1c)
        ,50809, 50931  -- 공복혈당(fasting plasma glucose)
        ,50889  -- C-반응성 단백질(C-reactive protein)
        ,50811, 51222  -- 헤모글로빈(hemoglobin)
        ,50907  -- 총콜레스테롤(total cholesterol)
        ,50945  -- 호모시스테인(Homocysteine)
        ,51006  -- 혈액 요소 질소(blood urea nitrogen)
        ,51000  -- 중성지방(triglyceride)
        ,51105  -- 요산(uric acid)
        ,50904  -- HDL-콜레스테롤(HDL-cholesterol)
        ,51265  -- 혈소판(platelet)
        ,51288  -- 적혈구침강속도(Erythrocyte sedimentation rate)
        ,51214  -- 피브리노겐(fibrinogen)
        ,51301  -- 백혈구(white blood cell)
        ,50963  -- B형 나트륨 이뇨펩타이드(B-type Natriuretic Peptide)
        ,51002, 51003  -- 트로포닌(Troponin)
        ,50908  -- 크레아티닌키나제-MB(Creatine Kinase - Muscle Brain)
        ,50862  -- 알부민(albumin)
        ,50821  -- 동맥 산소분압(arterial pO2)
        ,50818  -- 이산화탄소분압(pCO2)
        ,50820  -- 동맥혈의 산도(arterial PH)
        ,50910  -- 크레아틴키나제(CK)
        ,51237  -- 혈액응고검사(PT (INR)/aPTT) 
        ,50885  -- 빌리루빈(bilirubin)
        ,51144  -- 대상핵세포(band cells)
        ,50863  -- 알칼리 인산염(alkaline phosphatase)
    )
    """, engine)
    
    pivot_lab = pd.pivot_table(lab, 
                                    index=['icustay_id', 'hadm_id', 'ts'], 
                                    columns=['label'], 
                                    values='valuenum', 
                                    # aggfunc=['min', 'max', np.mean]
                                    fill_value=0)
    return pivot_lab


def get_vaso():
    vaso = pd.read_sql("""
    select c.icustay_id, s.hadm_id, date_trunc('day', c.starttime) as ts
        , duration_hours as vaso_duration_hours
    from vasopressordurations c
        inner join (select hadm_id, icustay_id from sepsis3 where excluded=0) s 
            on c.icustay_id=s.icustay_id
    """, engine)
    
    vaso.set_index(['icustay_id', 'hadm_id', 'ts'], inplace=True)
    return vaso

- 패혈증 진단받은 환자수, 입원수

In [4]:
pd.read_sql(
"""
select count(distinct hadm_id), count(distinct icustay_id) from sepsis3 where excluded=0
""", engine)

   count  count
0  11791  11791

- ICU, 입원 기간의 최소, 최대

In [5]:
pd.read_sql(
"""
select min(icu_los), max(icu_los), min(hosp_los), max(hosp_los) from sepsis3 where excluded=0
""", engine)

      min      max       min         max
0  0.0015  101.739 -0.945139  206.425694

## 라벨
- 사망: 원내 사망, 30일 이내 사망

In [18]:
label = get_mortality_label()
label.head()

                               hospital_expire_flag  thirtyday_expire_flag
icustay_id hadm_id ts
200021     109307  2114-12-27                     0                      0
200028     181955  2133-11-01                     0                      0
200033     198650  2198-08-21                     1                      1
200061     121149  2134-01-25                     0                      0
200075     132255  2159-09-25                     0                      0

## 변수 : 인구통계, 입원, 진단

In [19]:
demo = get_demo()
demo.head()

,,,age,is_male,race_white,race_black,race_hispanic,race_other
icustay_id,hadm_id,ts,,,,,,
200021,109307,2114-12-26,60.8501,1,1,0,0,0
200028,181955,2133-10-29,64.8666,1,1,0,0,0
200033,198650,2198-08-07,67.1445,1,1,0,0,0
200061,121149,2134-01-23,45.7505,1,0,0,0,1
200075,132255,2159-09-23,83.6432,0,1,0,0,0

In [20]:
admit = get_admit()
admit.head()

                               icu_los   hosp_los
icustay_id hadm_id ts
200021     109307  2114-12-26   1.1259   1.948611
200028     181955  2133-10-29   2.9038   3.204167
200033     198650  2198-08-07  13.8771  13.722917
200061     121149  2134-01-23   2.0142   2.959722
200075     132255  2159-09-23   2.0708   8.522917

In [21]:
com = get_comorbidity()
com.head()

,,,congestive_heart_failure,cardiac_arrhythmias,valvular_disease,pulmonary_circulation,peripheral_vascular,hypertension,paralysis,other_neurological,chronic_pulmonary,hyperlipidemia,...,coagulopathy,obesity,weight_loss,fluid_electrolyte,blood_loss_anemia,deficiency_anemias,alcohol_abuse,drug_abuse,psychoses,depression
icustay_id,hadm_id,ts,,,,,,,,,,,,,,,,,,,,,
247247,170252,2170-10-03,1.0,0.0,0.0,0.0,0.0,1,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
293876,186251,2168-07-10,1.0,0.0,0.0,0.0,1.0,0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
299666,117029,2173-03-24,1.0,1.0,1.0,1.0,0.0,1,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
246119,126769,2195-12-31,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
298039,135882,2139-10-29,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 변수 : 바이탈사인, 투약, 검사, 승압제

In [22]:
gcs = get_gcs()
gcs.head()

                               mingcs  gcsmotor  gcsverbal  gcseyes  \
icustay_id hadm_id ts
200021     109307  2114-12-27     8.0       6.0        1.0      1.0
200033     198650  2198-08-10     3.0       1.0        1.0      1.0
                   2198-08-12     6.0       4.0        1.0      1.0
                   2198-08-13     3.0       1.0        1.0      1.0
                   2198-08-17     7.0       5.0        1.0      1.0

                               endotrachflag
icustay_id hadm_id ts
200021     109307  2114-12-27              0
200033     198650  2198-08-10              0
                   2198-08-12              0
                   2198-08-13              0
                   2198-08-17              0

In [23]:
vital = get_vitalsign()
vital.head()

                               heartrate_min  heartrate_max  heartrate_mean  \
icustay_id hadm_id ts
247247     170252  2170-10-03           63.0           73.0       68.166667
                   2170-10-04           54.0           70.0       65.882353
293876     186251  2168-07-10           76.0          101.0       85.812500
                   2168-07-11           69.0           90.0       78.666667
299666     117029  2173-04-03           50.0           64.0       58.285714

                               sysbp_min  sysbp_max  sysbp_mean  diasbp_min  \
icustay_id hadm_id ts
247247     170252  2170-10-03      125.0      148.0  138.500000        76.0
                   2170-10-04      113.0      154.0  128.647059        61.0
293876     186251  2168-07-10      116.0      169.0  147.200000        57.0
                   2168-07-11      106.0      145.0  125.777778        53.0
299666     117029  2173-04-03       91.0      107.0  100.000000        44.0

                               diasbp_max  diasbp_mean  meanbp_min  \
icustay_id hadm_id ts
247247     170252  2170-10-03       101.0    88.833333        88.0
                   2170-10-04        96.0    77.647059        73.0
293876     186251  2168-07-10        98.0    81.933333        72.0
                   2168-07-11        83.0    70.111111        65.0
299666     117029  2173-04-03        77.0    62.000000        51.0

                                   ...       resprate_mean  tempc_min  \
icustay_id hadm_id ts              ...
247247     170252  2170-10-03      ...           18.571429  36.277778
                   2170-10-04      ...           17.176471  36.222222
293876     186251  2168-07-10      ...           19.684211  36.388889
                   2168-07-11      ...           19.111111  36.500000
299666     117029  2173-04-03      ...           19.600000  35.388889

                               tempc_max  tempc_mean  spo2_min  spo2_max  \
icustay_id hadm_id ts
247247     170252  2170-10-03  36.277778   36.277778      98.0     100.0
                   2170-10-04  36.666667   36.455556      96.0     100.0
293876     186251  2168-07-10  37.555556   37.166667     100.0     100.0
                   2168-07-11  37.666667   36.933333      98.0     100.0
299666     117029  2173-04-03  36.444444   35.870370      89.0      97.0

                                spo2_mean  glucose_min  glucose_max  \
icustay_id hadm_id ts
247247     170252  2170-10-03   99.000000        174.0        174.0
                   2170-10-04   98.235294        163.0        163.0
293876     186251  2168-07-10  100.000000         79.0        176.0
                   2168-07-11   99.611111        108.0        147.0
299666     117029  2173-04-03   94.000000        145.0        145.0

                               glucose_mean
icustay_id hadm_id ts
247247     170252  2170-10-03        174.00
                   2170-10-04        163.00
293876     186251  2168-07-10        129.00
                   2168-07-11        125.25
299666     117029  2173-04-03        145.00

[5 rows x 24 columns]

In [24]:
drug = get_drug()
drug.head()

drug                            Symbicort  *NF* Abatacept  \
icustay_id hadm_id ts
200021     109307  2114-12-27           0               0
                   2114-12-28           0               0
200028     181955  2133-10-30           0               0
                   2133-10-31           0               0
                   2133-11-01           0               0

drug                           *NF* Allopurinol Sodium  *NF* Arginine HCl  \
icustay_id hadm_id ts
200021     109307  2114-12-27                        0                  0
                   2114-12-28                        0                  0
200028     181955  2133-10-30                        0                  0
                   2133-10-31                        0                  0
                   2133-11-01                        0                  0

drug                           *NF* Bicalutamide  \
icustay_id hadm_id ts
200021     109307  2114-12-27                  0
                   2114-12-28                  0
200028     181955  2133-10-30                  0
                   2133-10-31                  0
                   2133-11-01                  0

drug                           *NF* Butorphanol Tart. Nasal  \
icustay_id hadm_id ts
200021     109307  2114-12-27                             0
                   2114-12-28                             0
200028     181955  2133-10-30                             0
                   2133-10-31                             0
                   2133-11-01                             0

drug                           *NF* Capecitabine  *NF* Ceftaroline  \
icustay_id hadm_id ts
200021     109307  2114-12-27                  0                 0
                   2114-12-28                  0                 0
200028     181955  2133-10-30                  0                 0
                   2133-10-31                  0                 0
                   2133-11-01                  0                 0

drug                           *NF* Deferasirox  *NF* Erlotinib ...  \
icustay_id hadm_id ts                                           ...
200021     109307  2114-12-27                 0               0 ...
                   2114-12-28                 0               0 ...
200028     181955  2133-10-30                 0               0 ...
                   2133-10-31                 0               0 ...
                   2133-11-01                 0               0 ...

drug                           solifenacin  temazepam  \
icustay_id hadm_id ts
200021     109307  2114-12-27            0          0
                   2114-12-28            0          0
200028     181955  2133-10-30            0          0
                   2133-10-31            0          0
                   2133-11-01            0          0

drug                           tetrabenazine (Xenazine) 25mg tab  thyroid  \
icustay_id hadm_id ts
200021     109307  2114-12-27                                  0        0
                   2114-12-28                                  0        0
200028     181955  2133-10-30                                  0        0
                   2133-10-31                                  0        0
                   2133-11-01                                  0        0

drug                           thyroid extract SR  timolo  tol  traZODONE  \
icustay_id hadm_id ts
200021     109307  2114-12-27                   0       0    0          0
                   2114-12-28                   0       0    0          0
200028     181955  2133-10-30                   0       0    0          2
                   2133-10-31                   0       0    0          0
                   2133-11-01                   0       0    0          0

drug                           zafirlukast  zz
icustay_id hadm_id ts
200021     109307  2114-12-27            0   0
                   2114-12-28            0   0
200028     181955  2133-10-30            0   0
                   2133-10-31            0   0
                   2133-11-01            0   0

[5 rows x 1770 columns]

In [26]:
lab = get_lab()
lab.head()

label                          % Hemoglobin A1c  Albumin  \
icustay_id hadm_id ts
200021     109307  2114-12-26               0.0      0.0
                   2114-12-27               0.0      0.0
                   2114-12-28               0.0      0.0
200028     181955  2133-10-29               0.0      3.2
                   2133-10-30               0.0      0.0

label                          Alkaline Phosphatase  Bands  Bilirubin, Total  \
icustay_id hadm_id ts
200021     109307  2114-12-26                   0.0    0.0              0.00
                   2114-12-27                   0.0    0.0              0.00
                   2114-12-28                   0.0    0.0              0.00
200028     181955  2133-10-29                 116.0    0.0              0.75
                   2133-10-30                   0.0    0.0              0.60

label                          C-Reactive Protein  CK-MB Index  \
icustay_id hadm_id ts
200021     109307  2114-12-26                 0.0          0.0
                   2114-12-27                 0.0          0.0
                   2114-12-28                 0.0          0.0
200028     181955  2133-10-29                 0.0          0.0
                   2133-10-30                 0.0          0.0

label                          Cholesterol, HDL  Cholesterol, LDL, Calculated  \
icustay_id hadm_id ts
200021     109307  2114-12-26               0.0                           0.0
                   2114-12-27               0.0                           0.0
                   2114-12-28               0.0                           0.0
200028     181955  2133-10-29               0.0                           0.0
                   2133-10-30               0.0                           0.0

label                          Cholesterol, LDL, Measured     ...      \
icustay_id hadm_id ts                                         ...
200021     109307  2114-12-26                         0.0     ...
                   2114-12-27                         0.0     ...
                   2114-12-28                         0.0     ...
200028     181955  2133-10-29                         0.0     ...
                   2133-10-30                         0.0     ...

label                          Platelet Count  Sedimentation Rate  \
icustay_id hadm_id ts
200021     109307  2114-12-26           210.0                 0.0
                   2114-12-27           156.0                 0.0
                   2114-12-28           169.0                 0.0
200028     181955  2133-10-29           131.0                 0.0
                   2133-10-30            83.0                 0.0

label                          Triglycerides  Troponin T  Urea Nitrogen  \
icustay_id hadm_id ts
200021     109307  2114-12-26            0.0         0.0           20.0
                   2114-12-27            0.0         0.0           15.0
                   2114-12-28            0.0         0.0           10.0
200028     181955  2133-10-29            0.0         0.0           17.5
                   2133-10-30            0.0         0.0           14.0

label                          Uric Acid, Urine  White Blood Cells       pCO2  \
icustay_id hadm_id ts
200021     109307  2114-12-26               0.0                6.7  38.000000
                   2114-12-27               0.0                6.1  36.000000
                   2114-12-28               0.0                5.1   0.000000
200028     181955  2133-10-29               0.0               17.8  42.555556
                   2133-10-30               0.0               14.3  27.333333

label                                pH         pO2
icustay_id hadm_id ts
200021     109307  2114-12-26  7.420000  367.000000
                   2114-12-27  7.410000  218.000000
                   2114-12-28  0.000000    0.000000
200028     181955  2133-10-29  7.233333  186.555556
                   2133-10-30  7.363333  102.333333

[5 rows x 29 columns]

In [16]:
vaso = get_vaso()
vaso.head()

                               vaso_duration_hours
icustay_id hadm_id ts
200028     181955  2133-10-29            20.733333
200033     198650  2198-08-10             1.250000
                   2198-08-10             0.583333
                   2198-08-10             4.666667
                   2198-08-11             0.666667

In [271]:
data_frames = [
    label,
    demo,
    admit,
    com,
    gcs,
    vital,
    # drug,
    lab,
    vaso
]
df_merged = reduce(lambda  left,right: pd.merge(left, right, how='outer', left_index=True, right_index=True), 
                   data_frames)

In [272]:
df_merged.head()

                               hospital_expire_flag  thirtyday_expire_flag  \
icustay_id hadm_id ts
200021     109307  2114-12-26                   NaN                    NaN
                   2114-12-27                   0.0                    0.0
                   2114-12-28                   NaN                    NaN
200028     181955  2133-10-29                   NaN                    NaN
                   2133-10-30                   NaN                    NaN

                                   age  is_male  race_white  race_black  \
icustay_id hadm_id ts
200021     109307  2114-12-26  60.8501      1.0         1.0         0.0
                   2114-12-27      NaN      NaN         NaN         NaN
                   2114-12-28      NaN      NaN         NaN         NaN
200028     181955  2133-10-29  64.8666      1.0         1.0         0.0
                   2133-10-30      NaN      NaN         NaN         NaN

                               race_hispanic  race_other  icu_los  hosp_los  \
icustay_id hadm_id ts
200021     109307  2114-12-26            0.0         0.0   1.1259  1.948611
                   2114-12-27            NaN         NaN      NaN       NaN
                   2114-12-28            NaN         NaN      NaN       NaN
200028     181955  2133-10-29            0.0         0.0   2.9038  3.204167
                   2133-10-30            NaN         NaN      NaN       NaN

                                      ...           Sedimentation Rate  \
icustay_id hadm_id ts                 ...
200021     109307  2114-12-26         ...                          0.0
                   2114-12-27         ...                          0.0
                   2114-12-28         ...                          0.0
200028     181955  2133-10-29         ...                          0.0
                   2133-10-30         ...                          0.0

                               Triglycerides  Troponin T  Urea Nitrogen  \
icustay_id hadm_id ts
200021     109307  2114-12-26            0.0         0.0           20.0
                   2114-12-27            0.0         0.0           15.0
                   2114-12-28            0.0         0.0           10.0
200028     181955  2133-10-29            0.0         0.0           17.5
                   2133-10-30            0.0         0.0           14.0

                               Uric Acid, Urine  White Blood Cells       pCO2  \
icustay_id hadm_id ts
200021     109307  2114-12-26               0.0                6.7  38.000000
                   2114-12-27               0.0                6.1  36.000000
                   2114-12-28               0.0                5.1   0.000000
200028     181955  2133-10-29               0.0               17.8  42.555556
                   2133-10-30               0.0               14.3  27.333333

                                     pH         pO2  vaso_duration_hours
icustay_id hadm_id ts
200021     109307  2114-12-26  7.420000  367.000000                  NaN
                   2114-12-27  7.410000  218.000000                  NaN
                   2114-12-28  0.000000    0.000000                  NaN
200028     181955  2133-10-29  7.233333  186.555556            20.733333
                   2133-10-30  7.363333  102.333333                  NaN

[5 rows x 100 columns]

- 입원 기간동안 유지되는 정보만 forward fill

In [239]:
ffill_cols = demo.columns.tolist() + admit.columns.tolist() + com.columns.tolist()
df_merged[ffill_cols] = df_merged[ffill_cols].fillna(method='ffill')

- 입원 일차 붙이기

In [273]:
df_merged = df_merged.reset_index()
df_merged['rno'] = df_merged.groupby(['hadm_id', 'icustay_id'])['ts'].rank(ascending=True)
df_merged.set_index(['hadm_id', 'icustay_id', 'rno'], inplace=True)
del df_merged['ts']

In [274]:
df_merged.head()

                        hospital_expire_flag  thirtyday_expire_flag      age  \
hadm_id icustay_id rno
109307  200021     1.0                   NaN                    NaN  60.8501
                   2.0                   0.0                    0.0      NaN
                   3.0                   NaN                    NaN      NaN
181955  200028     1.0                   NaN                    NaN  64.8666
                   2.0                   NaN                    NaN      NaN

                        is_male  race_white  race_black  race_hispanic  \
hadm_id icustay_id rno
109307  200021     1.0      1.0         1.0         0.0            0.0
                   2.0      NaN         NaN         NaN            NaN
                   3.0      NaN         NaN         NaN            NaN
181955  200028     1.0      1.0         1.0         0.0            0.0
                   2.0      NaN         NaN         NaN            NaN

                        race_other  icu_los  hosp_los         ...           \
hadm_id icustay_id rno                                        ...
109307  200021     1.0         0.0   1.1259  1.948611         ...
                   2.0         NaN      NaN       NaN         ...
                   3.0         NaN      NaN       NaN         ...
181955  200028     1.0         0.0   2.9038  3.204167         ...
                   2.0         NaN      NaN       NaN         ...

                        Sedimentation Rate  Triglycerides  Troponin T  \
hadm_id icustay_id rno
109307  200021     1.0                 0.0            0.0         0.0
                   2.0                 0.0            0.0         0.0
                   3.0                 0.0            0.0         0.0
181955  200028     1.0                 0.0            0.0         0.0
                   2.0                 0.0            0.0         0.0

                        Urea Nitrogen  Uric Acid, Urine  White Blood Cells  \
hadm_id icustay_id rno
109307  200021     1.0           20.0               0.0                6.7
                   2.0           15.0               0.0                6.1
                   3.0           10.0               0.0                5.1
181955  200028     1.0           17.5               0.0               17.8
                   2.0           14.0               0.0               14.3

                             pCO2        pH         pO2  vaso_duration_hours
hadm_id icustay_id rno
109307  200021     1.0  38.000000  7.420000  367.000000                  NaN
                   2.0  36.000000  7.410000  218.000000                  NaN
                   3.0   0.000000  0.000000    0.000000                  NaN
181955  200028     1.0  42.555556  7.233333  186.555556            20.733333
                   2.0  27.333333  7.363333  102.333333                  NaN

[5 rows x 100 columns]

- hdf 포맷으로 저장

In [275]:
filename_sepsis = "mimiciii_sepsis.h5"

In [276]:
df_merged.to_hdf(filename_sepsis, key='all')

# Reshaping 시계열

In [277]:
df = pd.read_hdf(filename_sepsis, key='all')

In [278]:
df.head()

                        hospital_expire_flag  thirtyday_expire_flag      age  \
hadm_id icustay_id rno
109307  200021     1.0                   NaN                    NaN  60.8501
                   2.0                   0.0                    0.0      NaN
                   3.0                   NaN                    NaN      NaN
181955  200028     1.0                   NaN                    NaN  64.8666
                   2.0                   NaN                    NaN      NaN

                        is_male  race_white  race_black  race_hispanic  \
hadm_id icustay_id rno
109307  200021     1.0      1.0         1.0         0.0            0.0
                   2.0      NaN         NaN         NaN            NaN
                   3.0      NaN         NaN         NaN            NaN
181955  200028     1.0      1.0         1.0         0.0            0.0
                   2.0      NaN         NaN         NaN            NaN

                        race_other  icu_los  hosp_los         ...           \
hadm_id icustay_id rno                                        ...
109307  200021     1.0         0.0   1.1259  1.948611         ...
                   2.0         NaN      NaN       NaN         ...
                   3.0         NaN      NaN       NaN         ...
181955  200028     1.0         0.0   2.9038  3.204167         ...
                   2.0         NaN      NaN       NaN         ...

                        Sedimentation Rate  Triglycerides  Troponin T  \
hadm_id icustay_id rno
109307  200021     1.0                 0.0            0.0         0.0
                   2.0                 0.0            0.0         0.0
                   3.0                 0.0            0.0         0.0
181955  200028     1.0                 0.0            0.0         0.0
                   2.0                 0.0            0.0         0.0

                        Urea Nitrogen  Uric Acid, Urine  White Blood Cells  \
hadm_id icustay_id rno
109307  200021     1.0           20.0               0.0                6.7
                   2.0           15.0               0.0                6.1
                   3.0           10.0               0.0                5.1
181955  200028     1.0           17.5               0.0               17.8
                   2.0           14.0               0.0               14.3

                             pCO2        pH         pO2  vaso_duration_hours
hadm_id icustay_id rno
109307  200021     1.0  38.000000  7.420000  367.000000                  NaN
                   2.0  36.000000  7.410000  218.000000                  NaN
                   3.0   0.000000  0.000000    0.000000                  NaN
181955  200028     1.0  42.555556  7.233333  186.555556            20.733333
                   2.0  27.333333  7.363333  102.333333                  NaN

[5 rows x 100 columns]

In [279]:
hadm_list = df.index.levels[0]
icustay_list = df.index.levels[1]
day_list = df.index.levels[2]
n_icustay = len(icustay_list)
n_hadm = len(hadm_list)
n_day = len(day_list)
n_hadm, n_icustay, n_day

(11791, 12409, 238)

In [280]:
label_cols = ['hospital_expire_flag', 'thirtyday_expire_flag']

In [281]:
y = df[label_cols]
x = df.drop(columns=label_cols)

In [282]:
x.shape, y.shape

((99105, 98), (99105, 2))

In [283]:
def get_df_by_icustay_id(x, icustay_id):
    idx = pd.IndexSlice
    icustay = x.loc[idx[:, icustay_id, :], :].copy()
    return icustay

inputs = [None] * n_icustay
for i, icustay_id in enumerate(icustay_list):
    h = get_df_by_icustay_id(x, icustay_id)
    inputs[i] = h.fillna(0).values

In [285]:
from keras.preprocessing.sequence import pad_sequences
X = pad_sequences(inputs, maxlen=14, dtype='float32', padding='pre', truncating='post')

In [286]:
y = y.reset_index().groupby(['hadm_id', 'icustay_id']).agg('sum')
y1 = y[['hospital_expire_flag']].astype(bool).astype(int).values
y2 = y[['thirtyday_expire_flag']].astype(bool).astype(int).values

In [287]:
X.shape, y1.shape, y2.shape

((12409, 14, 98), (12409, 1), (12409, 1))

- label ratio

In [288]:
y1.sum() / y1.shape[0]

0.10290917882182286

In [289]:
y2.sum() / y2.shape[0]

0.13046982029172374

# LSTM

- https://github.com/philipperemy/keras-attention-mechanism 참고

In [389]:
from keras.layers import Multiply, BatchNormalization, SpatialDropout2D
from keras.layers.core import *
from keras.layers.recurrent import LSTM
from keras.models import *
from keras.optimizers import Adam
import keras.backend as K
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
import numpy as np

# INPUT_DIM = 2
# TIME_STEPS = 20
TIME_STEPS, INPUT_DIM = X.shape[1:]
# if True, the attention vector is shared across the input_dimensions where the attention is applied.
SINGLE_ATTENTION_VECTOR = False
APPLY_ATTENTION_BEFORE_LSTM = True

def get_activations(model, inputs, print_shape_only=False, layer_name=None):
    # Documentation is available online on Github at the address below.
    # From: https://github.com/philipperemy/keras-visualize-activations
    print('----- activations -----')
    activations = []
    inp = model.input
    if layer_name is None:
        outputs = [layer.output for layer in model.layers]
    else:
        outputs = [layer.output for layer in model.layers if layer.name == layer_name]  # all layer outputs
    funcs = [K.function([inp] + [K.learning_phase()], [out]) for out in outputs]  # evaluation functions
    layer_outputs = [func([inputs, 1.])[0] for func in funcs]
    for layer_activations in layer_outputs:
        activations.append(layer_activations)
        if print_shape_only:
            print(layer_activations.shape)
        else:
            print(layer_activations)
    return activations


def attention_3d_block(inputs):
    # inputs.shape = (batch_size, time_steps, input_dim)
    input_dim = int(inputs.shape[2])
    a = Permute((2, 1))(inputs)
    a = Reshape((input_dim, TIME_STEPS))(a) # this line is not useful. It's just to know which dimension is what.
    a = Dense(TIME_STEPS, activation='softmax')(a)
    if SINGLE_ATTENTION_VECTOR:
        a = Lambda(lambda x: K.mean(x, axis=1), name='dim_reduction')(a)
        a = RepeatVector(input_dim)(a)
    a_probs = Permute((2, 1), name='attention_vec')(a)
    # output_attention_mul = merge([inputs, a_probs], name='attention_mul', mode='mul')
    output_attention_mul = Multiply(name='attention_mul')([inputs, a_probs])
    return output_attention_mul


def model_attention_applied_before_lstm():
    inputs = Input(shape=(TIME_STEPS, INPUT_DIM,))
    # norm = BatchNormalization()(inputs)
    attention_mul = attention_3d_block(inputs)
    lstm_units = 256
    attention_mul = LSTM(lstm_units, return_sequences=False)(attention_mul)
    output = Dense(1, activation='sigmoid')(attention_mul)
    model = Model(input=[inputs], output=output)
    return model

def model_lstm():
    inputs = Input(shape=(TIME_STEPS, INPUT_DIM,))
    lstm_units = 256
    lstm = LSTM(lstm_units, return_sequences=False)(inputs)
    output = Dense(1, activation='sigmoid')(lstm)
    model = Model(input=[inputs], output=output)
    return model

In [390]:
X_train, X_test, y_train, y_test = train_test_split(X, y1, test_size=0.3, random_state=13)
# X_train, X_test, y_train, y_test = train_test_split(X, y2, test_size=0.3, random_state=13)

In [395]:
# m = model_attention_applied_before_lstm()
m = model_lstm()
opt = Adam(learning_rate=0.0005, beta_1=0.9, beta_2=0.999)
m.compile(optimizer=opt, loss='binary_crossentropy', metrics=['accuracy'])
print(m.summary())

Model: "model_44"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_49 (InputLayer)        (None, 14, 98)            0
_________________________________________________________________
lstm_45 (LSTM)               (None, 256)               363520
_________________________________________________________________
dense_76 (Dense)             (None, 1)                 257
=================================================================
Total params: 363,777
Trainable params: 363,777
Non-trainable params: 0
_________________________________________________________________
None

/home/hcinyoung/dev/mdml/venv/lib/python3.6/site-packages/ipykernel_launcher.py:69: UserWarning: Update your `Model` call to the Keras 2 API: `Model(inputs=[<tf.Tenso..., outputs=Tensor("de...)`

In [396]:
m.fit(X_train, y_train, epochs=7, batch_size=64, validation_split=0.1, class_weight={0: 1., 1: 2.})

Train on 7817 samples, validate on 869 samples
Epoch 1/7
7817/7817 [==============================] - 4s 504us/step - loss: 0.5552 - accuracy: 0.8941 - val_loss: 0.5432 - val_accuracy: 0.8953
Epoch 2/7
7817/7817 [==============================] - 4s 472us/step - loss: 0.5292 - accuracy: 0.8961 - val_loss: 0.5381 - val_accuracy: 0.8953
Epoch 3/7
7817/7817 [==============================] - 4s 472us/step - loss: 0.5196 - accuracy: 0.8963 - val_loss: 0.5469 - val_accuracy: 0.8953
Epoch 4/7
7817/7817 [==============================] - 4s 469us/step - loss: 0.5100 - accuracy: 0.8964 - val_loss: 0.5428 - val_accuracy: 0.8953
Epoch 5/7
7817/7817 [==============================] - 4s 472us/step - loss: 0.5036 - accuracy: 0.8970 - val_loss: 0.5423 - val_accuracy: 0.8930
Epoch 6/7
7817/7817 [==============================] - 4s 473us/step - loss: 0.4995 - accuracy: 0.8977 - val_loss: 0.5481 - val_accuracy: 0.8941
Epoch 7/7
7817/7817 [==============================] - 4s 470us/step - loss: 0.4947 - accuracy: 0.8991 - val_loss: 0.5516 - val_accuracy: 0.8930

In [397]:
y_pred = m.predict(X_test)
roc_auc_score(y_test.reshape(-1), y_pred.reshape(-1))

0.5103646551049639