In [18]:
! pip install --upgrade tables

Collecting tables
  Downloading https://files.pythonhosted.org/packages/87/f7/bb0ec32a3f3dd74143a3108fbf737e6dcfd47f0ffd61b52af7106ab7a38a/tables-3.5.2-cp36-cp36m-manylinux1_x86_64.whl (4.3MB)
    100% |████████████████████████████████| 4.3MB 7.2MB/s eta 0:00:01
Collecting numexpr>=2.6.2 (from tables)
  Downloading https://files.pythonhosted.org/packages/06/5e/ee657b36ce1b6baabaafe485e97a31e7200f918c4b8643ebc4fd4fd07ada/numexpr-2.7.0-cp36-cp36m-manylinux1_x86_64.whl (162kB)
    100% |████████████████████████████████| 163kB 52.8MB/s ta 0:00:01
Requirement already satisfied, skipping upgrade: numpy>=1.9.3 in /home/hcinyoung/dev/mdml/venv/lib/python3.6/site-packages (from tables) (1.16.0)
Collecting mock>=2.0 (from tables)
  Downloading https://files.pythonhosted.org/packages/05/d2/f94e68be6b17f46d2c353564da56e6fb89ef09faeeff3313a046cb810ca9/mock-3.0.5-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: six>=1.9.0 in /home/hcinyoung/dev/mdml/venv/lib/python3.6/site-packages (from tables) (1.12.0)
Installing collected packages: numexpr, mock, tables
Successfully installed mock-3.0.5 numexpr-2.7.0 tables-3.5.2
You are using pip version 19.0.1, however version 19.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [14]:
%matplotlib inline

import matplotlib.pyplot as plt
from functools import reduce
import seaborn as sns; sns.set(rc={'figure.figsize':(15,15)})
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from sklearn.preprocessing import MinMaxScaler
engine = create_engine('postgresql://postgres:mimic@192.168.1.72:5555/mimic')

In [29]:
def get_mortality_label():
    label = pd.read_sql("""
    select icustay_id, hadm_id, date_trunc('day', outtime) as ts, hospital_expire_flag, thirtyday_expire_flag
    from sepsis3
    where excluded=0
    """, engine)
    label.set_index(['icustay_id', 'hadm_id', 'ts'], inplace=True)
    return label

def get_demo():
    demo = pd.read_sql("""
    select icustay_id, hadm_id, date_trunc('day', intime) as ts
        , age, is_male, race_white, race_black, race_hispanic, race_other
    from sepsis3
    where excluded=0
    """, engine)
    demo.set_index(['icustay_id', 'hadm_id', 'ts'], inplace=True)
    return demo

def get_admit():
    admit = pd.read_sql("""
    select icustay_id, hadm_id, date_trunc('day', intime) as ts, icu_los, hosp_los
    from sepsis3
    where excluded=0
    """, engine)
    admit.set_index(['icustay_id', 'hadm_id', 'ts'], inplace=True)
    return admit

def get_comorbidity():
    com = pd.read_sql('''
    select s.icustay_id, date_trunc('day', admittime) as ts, c.*
    from comorbidity c 
        inner join (select icustay_id, hadm_id from sepsis3 where excluded=0) s 
            on c.hadm_id=s.hadm_id
    ''', engine)
    del com['subject_id']
    del com['admittime']
    com.set_index(['icustay_id', 'hadm_id', 'ts'], inplace=True)
    
    return com

def get_gcs():
    gcs = pd.read_sql('''
    select v.* 
    from gcsdaily v
        inner join (select hadm_id from sepsis3 where excluded=0) s 
            on v.hadm_id=s.hadm_id
    where charttime_by_day is not null
    ''', engine)

    del gcs['subject_id']
    gcs.rename(columns = {'charttime_by_day': 'ts'}, inplace=True)
    gcs.set_index(['icustay_id', 'hadm_id', 'ts'], inplace=True)
    return gcs

def get_vitalsign():
    vital = pd.read_sql('''
    select v.* 
    from vitalsdaily v
        inner join (select hadm_id from sepsis3 where excluded=0) s 
            on v.hadm_id=s.hadm_id
    ''', engine)

    del vital['subject_id']
    vital.rename(columns = {'charttime_by_day': 'ts'}, inplace=True)
    vital.set_index(['icustay_id', 'hadm_id', 'ts'], inplace=True)
    return vital

def get_drug():
    drug = pd.read_sql("""
    select p.icustay_id, p.hadm_id
        , startdate as ts
        , 'prescription' as category
        , drug
        , sum((EXTRACT(EPOCH FROM enddate - startdate))/ 60 / 60 / 24) as event_value
    from prescriptions p
        inner join (select hadm_id, icustay_id from sepsis3 where excluded=0) s 
            on p.hadm_id=s.hadm_id and p.icustay_id=s.icustay_id
    group by p.icustay_id, p.hadm_id, ts, drug
    """, engine)
    drug.event_value = drug.event_value.replace(0, 1)
    pivot_drug = pd.pivot_table(drug, 
                                index=['icustay_id', 'hadm_id', 'ts'], 
                                columns=['drug'], 
                                values='event_value', 
                                fill_value=0)
    return pivot_drug

def get_lab():
    lab = pd.read_sql("""
    select c.icustay_id, c.hadm_id, date_trunc('day', c.charttime) as ts, 'lab' as category
        , itemid
        , valuenum
    from chartevents c
        inner join (select hadm_id, icustay_id from sepsis3 where excluded=0) s 
            on c.hadm_id=s.hadm_id and c.icustay_id=s.icustay_id
    """, engine)
    
    pivot_lab = pd.pivot_table(lab, 
                                    index=['icustay_id', 'hadm_id', 'ts'], 
                                    columns=['itemid'], 
                                    values='valuenum', 
                                    # aggfunc=['min', 'max', np.mean]
                                    fill_value=0)
    return pivot_lab

- 패혈증 진단받은 환자수, 입원수

In [4]:
pd.read_sql(
"""
select count(distinct hadm_id), count(distinct icustay_id) from sepsis3 where excluded=0
""", engine)

   count  count
0  11791  11791

- ICU, 입원 기간의 최소, 최대

In [5]:
pd.read_sql(
"""
select min(icu_los), max(icu_los), min(hosp_los), max(hosp_los) from sepsis3 where excluded=0
""", engine)

      min      max       min         max
0  0.0015  101.739 -0.945139  206.425694

## 라벨
- 사망: 원내 사망, 30일 이내 사망

In [6]:
label = get_mortality_label()
label.head()

                               hospital_expire_flag  thirtyday_expire_flag
icustay_id hadm_id ts
200021     109307  2114-12-27                     0                      0
200028     181955  2133-11-01                     0                      0
200033     198650  2198-08-21                     1                      1
200061     121149  2134-01-25                     0                      0
200075     132255  2159-09-25                     0                      0

## 변수 : 인구통계, 입원, 진단

In [30]:
demo = get_demo()
demo.head()

,,,age,is_male,race_white,race_black,race_hispanic,race_other
icustay_id,hadm_id,ts,,,,,,
200021,109307,2114-12-26,60.8501,1,1,0,0,0
200028,181955,2133-10-29,64.8666,1,1,0,0,0
200033,198650,2198-08-07,67.1445,1,1,0,0,0
200061,121149,2134-01-23,45.7505,1,0,0,0,1
200075,132255,2159-09-23,83.6432,0,1,0,0,0

In [31]:
admit = get_admit()
admit.head()

                               icu_los   hosp_los
icustay_id hadm_id ts
200021     109307  2114-12-26   1.1259   1.948611
200028     181955  2133-10-29   2.9038   3.204167
200033     198650  2198-08-07  13.8771  13.722917
200061     121149  2134-01-23   2.0142   2.959722
200075     132255  2159-09-23   2.0708   8.522917

In [26]:
com = get_comorbidity()
com.head()

,,,congestive_heart_failure,cardiac_arrhythmias,valvular_disease,pulmonary_circulation,peripheral_vascular,hypertension,paralysis,other_neurological,chronic_pulmonary,hyperlipidemia,...,coagulopathy,obesity,weight_loss,fluid_electrolyte,blood_loss_anemia,deficiency_anemias,alcohol_abuse,drug_abuse,psychoses,depression
icustay_id,hadm_id,ts,,,,,,,,,,,,,,,,,,,,,
247247,170252,2170-10-03,1.0,0.0,0.0,0.0,0.0,1,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
293876,186251,2168-07-10,1.0,0.0,0.0,0.0,1.0,0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
299666,117029,2173-03-24,1.0,1.0,1.0,1.0,0.0,1,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
246119,126769,2195-12-31,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
298039,135882,2139-10-29,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 변수 : 바이탈사인, 투약, 검사

In [10]:
gcs = get_gcs()
gcs.head()

                               mingcs  gcsmotor  gcsverbal  gcseyes  \
icustay_id hadm_id ts
200021     109307  2114-12-27     8.0       6.0        1.0      1.0
200033     198650  2198-08-10     3.0       1.0        1.0      1.0
                   2198-08-12     6.0       4.0        1.0      1.0
                   2198-08-13     3.0       1.0        1.0      1.0
                   2198-08-17     7.0       5.0        1.0      1.0

                               endotrachflag
icustay_id hadm_id ts
200021     109307  2114-12-27              0
200033     198650  2198-08-10              0
                   2198-08-12              0
                   2198-08-13              0
                   2198-08-17              0

In [11]:
vital = get_vitalsign()
vital.head()

                               heartrate_min  heartrate_max  heartrate_mean  \
icustay_id hadm_id ts
247247     170252  2170-10-03           63.0           73.0       68.166667
                   2170-10-04           54.0           70.0       65.882353
293876     186251  2168-07-10           76.0          101.0       85.812500
                   2168-07-11           69.0           90.0       78.666667
299666     117029  2173-04-03           50.0           64.0       58.285714

                               sysbp_min  sysbp_max  sysbp_mean  diasbp_min  \
icustay_id hadm_id ts
247247     170252  2170-10-03      125.0      148.0  138.500000        76.0
                   2170-10-04      113.0      154.0  128.647059        61.0
293876     186251  2168-07-10      116.0      169.0  147.200000        57.0
                   2168-07-11      106.0      145.0  125.777778        53.0
299666     117029  2173-04-03       91.0      107.0  100.000000        44.0

                               diasbp_max  diasbp_mean  meanbp_min  \
icustay_id hadm_id ts
247247     170252  2170-10-03       101.0    88.833333        88.0
                   2170-10-04        96.0    77.647059        73.0
293876     186251  2168-07-10        98.0    81.933333        72.0
                   2168-07-11        83.0    70.111111        65.0
299666     117029  2173-04-03        77.0    62.000000        51.0

                                   ...       resprate_mean  tempc_min  \
icustay_id hadm_id ts              ...
247247     170252  2170-10-03      ...           18.571429  36.277778
                   2170-10-04      ...           17.176471  36.222222
293876     186251  2168-07-10      ...           19.684211  36.388889
                   2168-07-11      ...           19.111111  36.500000
299666     117029  2173-04-03      ...           19.600000  35.388889

                               tempc_max  tempc_mean  spo2_min  spo2_max  \
icustay_id hadm_id ts
247247     170252  2170-10-03  36.277778   36.277778      98.0     100.0
                   2170-10-04  36.666667   36.455556      96.0     100.0
293876     186251  2168-07-10  37.555556   37.166667     100.0     100.0
                   2168-07-11  37.666667   36.933333      98.0     100.0
299666     117029  2173-04-03  36.444444   35.870370      89.0      97.0

                                spo2_mean  glucose_min  glucose_max  \
icustay_id hadm_id ts
247247     170252  2170-10-03   99.000000        174.0        174.0
                   2170-10-04   98.235294        163.0        163.0
293876     186251  2168-07-10  100.000000         79.0        176.0
                   2168-07-11   99.611111        108.0        147.0
299666     117029  2173-04-03   94.000000        145.0        145.0

                               glucose_mean
icustay_id hadm_id ts
247247     170252  2170-10-03        174.00
                   2170-10-04        163.00
293876     186251  2168-07-10        129.00
                   2168-07-11        125.25
299666     117029  2173-04-03        145.00

[5 rows x 24 columns]

In [12]:
drug = get_drug()
drug.head()

drug                            Symbicort  *NF* Abatacept  \
icustay_id hadm_id ts
200021     109307  2114-12-27           0               0
                   2114-12-28           0               0
200028     181955  2133-10-30           0               0
                   2133-10-31           0               0
                   2133-11-01           0               0

drug                           *NF* Allopurinol Sodium  *NF* Arginine HCl  \
icustay_id hadm_id ts
200021     109307  2114-12-27                        0                  0
                   2114-12-28                        0                  0
200028     181955  2133-10-30                        0                  0
                   2133-10-31                        0                  0
                   2133-11-01                        0                  0

drug                           *NF* Bicalutamide  \
icustay_id hadm_id ts
200021     109307  2114-12-27                  0
                   2114-12-28                  0
200028     181955  2133-10-30                  0
                   2133-10-31                  0
                   2133-11-01                  0

drug                           *NF* Butorphanol Tart. Nasal  \
icustay_id hadm_id ts
200021     109307  2114-12-27                             0
                   2114-12-28                             0
200028     181955  2133-10-30                             0
                   2133-10-31                             0
                   2133-11-01                             0

drug                           *NF* Capecitabine  *NF* Ceftaroline  \
icustay_id hadm_id ts
200021     109307  2114-12-27                  0                 0
                   2114-12-28                  0                 0
200028     181955  2133-10-30                  0                 0
                   2133-10-31                  0                 0
                   2133-11-01                  0                 0

drug                           *NF* Deferasirox  *NF* Erlotinib ...  \
icustay_id hadm_id ts                                           ...
200021     109307  2114-12-27                 0               0 ...
                   2114-12-28                 0               0 ...
200028     181955  2133-10-30                 0               0 ...
                   2133-10-31                 0               0 ...
                   2133-11-01                 0               0 ...

drug                           solifenacin  temazepam  \
icustay_id hadm_id ts
200021     109307  2114-12-27            0          0
                   2114-12-28            0          0
200028     181955  2133-10-30            0          0
                   2133-10-31            0          0
                   2133-11-01            0          0

drug                           tetrabenazine (Xenazine) 25mg tab  thyroid  \
icustay_id hadm_id ts
200021     109307  2114-12-27                                  0        0
                   2114-12-28                                  0        0
200028     181955  2133-10-30                                  0        0
                   2133-10-31                                  0        0
                   2133-11-01                                  0        0

drug                           thyroid extract SR  timolo  tol  traZODONE  \
icustay_id hadm_id ts
200021     109307  2114-12-27                   0       0    0          0
                   2114-12-28                   0       0    0          0
200028     181955  2133-10-30                   0       0    0          2
                   2133-10-31                   0       0    0          0
                   2133-11-01                   0       0    0          0

drug                           zafirlukast  zz
icustay_id hadm_id ts
200021     109307  2114-12-27            0   0
                   2114-12-28            0   0
200028     181955  2133-10-30            0   0
                   2133-10-31            0   0
                   2133-11-01            0   0

[5 rows x 1770 columns]

In [ ]:
# takes too long
lab = get_lab()
lab.head()

In [32]:
data_frames = [
    #label,
    demo,
    admit,
    com,
    gcs,
    vital,
    drug,
    # lab
]
df_merged = reduce(lambda  left,right: pd.merge(left, right, how='outer', left_index=True, right_index=True), 
                   data_frames)

In [33]:
df_merged.head()

                                   age  is_male  race_white  race_black  \
icustay_id hadm_id ts
200021     109307  2114-12-26  60.8501      1.0         1.0         0.0
                   2114-12-27      NaN      NaN         NaN         NaN
                   2114-12-28      NaN      NaN         NaN         NaN
200028     181955  2133-10-29  64.8666      1.0         1.0         0.0
                   2133-10-30      NaN      NaN         NaN         NaN

                               race_hispanic  race_other  icu_los  hosp_los  \
icustay_id hadm_id ts
200021     109307  2114-12-26            0.0         0.0   1.1259  1.948611
                   2114-12-27            NaN         NaN      NaN       NaN
                   2114-12-28            NaN         NaN      NaN       NaN
200028     181955  2133-10-29            0.0         0.0   2.9038  3.204167
                   2133-10-30            NaN         NaN      NaN       NaN

                               congestive_heart_failure  cardiac_arrhythmias  \
icustay_id hadm_id ts
200021     109307  2114-12-26                       0.0                  1.0
                   2114-12-27                       NaN                  NaN
                   2114-12-28                       NaN                  NaN
200028     181955  2133-10-29                       1.0                  0.0
                   2133-10-30                       NaN                  NaN

                              ...   solifenacin  temazepam  \
icustay_id hadm_id ts         ...
200021     109307  2114-12-26 ...           NaN        NaN
                   2114-12-27 ...           0.0        0.0
                   2114-12-28 ...           0.0        0.0
200028     181955  2133-10-29 ...           NaN        NaN
                   2133-10-30 ...           0.0        0.0

                               tetrabenazine (Xenazine) 25mg tab  thyroid  \
icustay_id hadm_id ts
200021     109307  2114-12-26                                NaN      NaN
                   2114-12-27                                0.0      0.0
                   2114-12-28                                0.0      0.0
200028     181955  2133-10-29                                NaN      NaN
                   2133-10-30                                0.0      0.0

                               thyroid extract SR  timolo  tol  traZODONE  \
icustay_id hadm_id ts
200021     109307  2114-12-26                 NaN     NaN  NaN        NaN
                   2114-12-27                 0.0     0.0  0.0        0.0
                   2114-12-28                 0.0     0.0  0.0        0.0
200028     181955  2133-10-29                 NaN     NaN  NaN        NaN
                   2133-10-30                 0.0     0.0  0.0        2.0

                               zafirlukast   zz
icustay_id hadm_id ts
200021     109307  2114-12-26          NaN  NaN
                   2114-12-27          0.0  0.0
                   2114-12-28          0.0  0.0
200028     181955  2133-10-29          NaN  NaN
                   2133-10-30          0.0  0.0

[5 rows x 1838 columns]

In [37]:
filename_sepsis = "mimiciii_sepsis.h5"

In [36]:
df_merged.to_hdf(filename_sepsis, key='x')

In [35]:
label.to_hdf(filename_sepsis, key='y')

# Reshaping 시계열

In [38]:
x = pd.read_hdf(filename_sepsis, key='x')

In [40]:
icustay_list = x.index.levels[0]
hadm_list = x.index.levels[1]
n_icustay = len(icustay_list)
n_hadm = len(hadm_list)
max_lod = len(x.index.levels[2])
n_hadm, n_icustay, max_lod

(11791, 12409, 30266)

In [41]:
def get_df_by_icustay_id(x, icustay_id):
    idx = pd.IndexSlice
    icustay = x.loc[idx[icustay_id, :, :], :].copy()
    return icustay

In [42]:
inputs = [None] * n_icustay

for i, icustay_id in enumerate(icustay_list):
    h = get_df_by_icustay_id(x, icustay_id)
    inputs[i] = h.values
    # ts_mask = None
    # ts_mask = day_mask[hadm_id] - lag if (day_mask[hadm_id] - lag) > 0 else day_mask[hadm_id]
    # inputs[i] = h.values[:ts_mask] # drop days after op

In [44]:
label.shape

(11791, 2)

In [45]:
x.shape

(62863, 1838)

# LSTM